<h1>Word Puzzle</h1>

<h3>Enter word(s) or sentences in the box and we will change to word puzzle.</h3>

<form action='/results' method='get'>
  <div class="form-group col-sm-7">
    <label for="userInput">Enter here</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Go Puzzle</button>
</form>
